* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

/* HEADER */

.Header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: center;
    font-weight: 600;
    font-size: 20px;
    padding: 30px 0;
    background: rgb(150, 204, 214);
}

.HeaderLogo{
    align-self: center;
    justify-self:flex-start;
    padding:0px 20px;
}

.HeaderNav {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    opacity: 0.7;
    list-style: none; 
}
.HeaderNav div {
    margin: 0 37px;
    color: rgb(112, 23, 23);
}

@media (max-width: 700px) {
    .HeaderLogo{
        display: none;
    }
    .Header{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 22px;
    }
    .HeaderNav{
        justify-content: center;
    }
}


/* BODY */

body{
    display: flex;
    flex-direction: column;
}

main {
    padding: 60px;
    flex-grow: 1;
}

.title{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px auto 40px;
}



.tablero {
    display: flex;
    justify-content: center;
    align-items:center;

}


/* FOOTER */
footer{
    background-color: rgb(150, 204, 214);
    padding: 30px 20px;
    text-align: center;
    
}